@page
@model InteraktifKredi.Web.Pages.Dashboard.LoanOffersModel
@{
    ViewData["Title"] = "Kredi Teklifleri";
}

<div class="page_container">
    <div class="page_header">
        <h1>Kredi Teklifleri (Kişiye Özel)</h1>
        <p class="page_subtitle">Size özel hazırlanmış kredi tekliflerinizi görüntüleyin</p>
    </div>

    <div class="page_content">
        <p>Kredi teklifleri içeriği buraya eklenecek.</p>
    </div>
</div>

