@page
@model InteraktifKredi.Web.Pages.Account.AddressModel
@{
    ViewData["Title"] = "Adres / İletişim Bilgileri";
}

<div class="page_container">
    <div class="page_header">
        <h1>Adres / İletişim Bilgileri</h1>
        <p class="page_subtitle">Adres ve iletişim bilgilerinizi güncelleyin</p>
    </div>

    <div class="page_content">
        <p>Adres ve iletişim bilgileri içeriği buraya eklenecek.</p>
    </div>
</div>

