@page
@model InteraktifKredi.Web.Pages.Account.JobIncomeModel
@{
    ViewData["Title"] = "Meslek & Gelir Bilgileri";
}

<div class="page_container">
    <div class="page_header">
        <h1>Meslek & Gelir Bilgileri</h1>
        <p class="page_subtitle">Meslek ve gelir bilgilerinizi güncelleyin</p>
    </div>

    <div class="page_content">
        <p>Meslek ve gelir bilgileri içeriği buraya eklenecek.</p>
    </div>
</div>

